@import url(https://fonts.googleapis.com/css?family=Racing+Sans+One|Roboto);* {
  box-sizing: border-box; }

html {
  font-family: 'Nunito', sans-serif;
  font-size: 14px; }

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  overflow-y: hidden; }

h1,
h2,
h3,
h4,
p, figure {
  margin: 0;
  padding: 0; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

h2 {
  font-size: 4.57rem; }

h3 {
  font-size: 2rem; }

h4 {
  font-size: 1rem; }

a {
  text-decoration: none;
  display: inline-block; }

.slider__image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  z-index: 1;
  transition: opacity 1s; }
  @media (min-width: 768px) {
    .slider__image {
      -ms-flex-direction: row;
          flex-direction: row;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; } }
  .slider__image.visible {
    opacity: 1;
    z-index: 2; }

.slider__image[data-slider="slide-6"] {
  background-color: rgba(103, 134, 133, 0.3); }

.slider__image[data-slider="slide-5"] {
  background-color: rgba(104, 203, 75, 0.3); }

.slider__image[data-slider="slide-4"] {
  background-color: rgba(15, 154, 112, 0.3); }

.slider__image[data-slider="slide-3"] {
  background-color: rgba(191, 87, 128, 0.3); }

.slider__image[data-slider="slide-2"] {
  background-color: rgba(94, 54, 11, 0.3); }

.slider__image[data-slider="slide-1"] {
  background-color: rgba(71, 68, 130, 0.3); }

.slider__image[data-slider="slide-0"] {
  background-color: rgba(98, 160, 38, 0.3); }

.slide__image {
  -ms-flex: 0 1 100%;
      flex: 0 1 100%; }
  .slide__image img {
    width: 100%;
    height: 75vh;
    object-fit: cover; }
    @media (min-width: 768px) {
      .slide__image img {
        height: 100vh; } }

.slider__images {
  max-width: 1000px;
  margin: auto; }

.slider__caption {
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 60%;
  background-color: inherit; }

.slider__caption-title {
  background-color: inherit;
  padding: 0 .75em; }
  .slider__caption-title h2 {
    font-family: 'Racing Sans One', serif;
    font-size: calc(28px + (44 - 28) * (100vw - 426px) / (768 - 426));
    font-weight: 700;
    line-height: 1.2;
    padding: 5px 0; }
    @media (max-width: 425px) {
      .slider__caption-title h2 {
        margin: 0; } }
    @media (min-width: 768px) {
      .slider__caption-title h2 {
        font-size: 2.8125rem; } }

.slider__caption-content {
  margin: auto;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  line-height: 1;
  font-size: calc(14px + (19 - 14) * (100vw - 426px) / (768 - 426));
  background-color: inherit;
  padding: 0 .5em; }
  @media (min-width: 768px) {
    .slider__caption-content {
      width: 90%;
      line-height: 1.5;
      font-size: 1.25rem; } }
  .slider__caption-content p {
    padding: 0 1em; }

.slider__btns {
  z-index: 2;
  position: relative; }

.slider__prev, .slider__next {
  cursor: pointer;
  position: absolute;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  padding: 20px;
  color: white;
  padding-top: calc(4rem + (44 - 28) * (100vw - 426px) / (768 - 426));
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border: none;
  background-color: transparent;
  outline: none; }
  .slider__prev:hover, .slider__next:hover {
    background-color: rgba(0, 0, 0, 0.8); }

.slider__next {
  right: 0; }
